<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="weatherService" class="lab5.weather.WeatherService"/>
    <bean id="weatherParser" class="lab5.weather.WeatherParser"/>
    <bean id="WriteWeather" class="lab5.weather.WriteWeather">
        <constructor-arg ref="weatherService"/>
        <constructor-arg ref="weatherParser"/>
    </bean>

</beans>